<h1>{{title}}</h1>
<p class="main">{{contnets}}</p>

<!-- Book Component（仮） -->
<ul class="books">
  <li class="book_list">
    <p class="book_list__title">{{book.title}}</p>
    <p class="book_list__price">{{book?.discription}}</p><!-- 値がある場合のみ表示 -->
    <p class="book_list__price">{{book.price}}円</p>
  </li>
</ul>

<p><b>普通にサニタイズ</b></p>
<p [innerHTML]="msg"></p>
<hr>
<p><b>サニタイズ許可版</b></p>
<p [innerHTML]="safeMsg"></p>

<p><b>attrでcolspanとdata属性追加</b></p>
<table border="1">
  <tr><td [attr.colspan]="len" [attr.data]="datasample">1</td></tr>
  <tr><td>2</td><td>3</td></tr>
</table>

<p><b>大文字小文字変換</b></p>
<ul>
  <li>変換前：{{caseSample}}</li>
  <li>小文字：{{caseSample | lowercase}}</li>
  <li>大文字：{{caseSample | uppercase}}</li>
</ul>

<p><b>ゼロfillと少数丸め</b></p>
<ol>
  <li>元の値：{{separatorNumber}}</li>
  <li>number（デフォルト）：{{separatorNumber | number}}</li>
  <li>number（桁数指定 : 5.1-2 5桁整数/2桁少数）：{{separatorNumber | number : '5.1-2'}}</li>
</ol>

<p><b>文字列「123456789」スライス</b></p>
<ol>
  <li>【 | slice:4:7】=> {{sliceMsg | slice:4:7}}</li>
  <li>【 | slice:4】=> {{sliceMsg | slice:4}}</li>
  <li>【 | slice:10】=> {{sliceMsg | slice:10}}</li>
  <li>【 | slice:-3:-2】=> {{sliceMsg | slice:-3:-2}}</li>
</ol>
