<h1>{{title}}</h1>
<p class="main" [class.active]="activeFlag">{{contnets}}</p>

<!-- Book Component（仮） -->
<ul class="books">
  <li class="book_list">
    <p class="book_list__title">{{book.title}}</p>
    <p class="book_list__price">{{book?.discription}}</p><!-- 値がある場合のみ表示 -->
    <p class="book_list__price">{{book.price}}円</p>
  </li>
</ul>

<p><b>普通にサニタイズ</b></p>
<p [innerHTML]="msg"></p>
<hr>
<p><b>サニタイズ許可版</b></p>
<p [innerHTML]="safeMsg"></p>
<p><b>外部iframe呼出</b></p>
<iframe [src]="safeIframeUrl"></iframe>

<p><b>attrでcolspanとdata属性追加</b></p>
<table border="1">
  <tr><td [attr.colspan]="len" [attr.data]="datasample">1</td></tr>
  <tr><td>2</td><td>3</td></tr>
</table>

<p><b>大文字小文字変換</b></p>
<ul>
  <li>変換前：{{caseSample}}</li>
  <li>小文字：{{caseSample | lowercase}}</li>
  <li>大文字：{{caseSample | uppercase}}</li>
</ul>

<p><b>ゼロfillと少数丸め</b></p>
<ol>
  <li>元の値：{{separatorNumber}}</li>
  <li>number（デフォルト）：{{separatorNumber | number}}</li>
  <li>number（桁数指定 : 5.1-2 5桁整数/2桁少数）：{{separatorNumber | number : '5.1-2'}}</li>
</ol>

<p><b>文字列「123456789」スライス</b></p>
<ol>
  <li>【 | slice:4:7】=> {{sliceMsg | slice:4:7}}</li>
  <li>【 | slice:4】=> {{sliceMsg | slice:4}}</li>
  <li>【 | slice:10】=> {{sliceMsg | slice:10}}</li>
  <li>【 | slice:-3:-2】=> {{sliceMsg | slice:-3:-2}}</li>
</ol>
<p><b>配列　[ 1, 2, 3, 4, 5, 6, 7, 8, 9]スライス</b></p>
<ol>
  <li>【 | slice:-3:-2】=> {{sliceData | slice:-3:-2}}</li>
</ol>

<p><b>現在時刻　イベントハンドラ</b></p>
<input type="button" value="現在時刻" (click)="onclick()" />
<div>{{result}}</div>

<p><b>双方向データバインディング</b></p>
<form>
  <label for="name">名前：</label>
  <input id="txtName" name="txtName" type="text"
  [(ngModel)]="name" />
  <div>User Name: {{name}}</div>
</form>

<p><b>consoleへログ出力</b></p>
<input type="button" value="ログ出力" (click)="onclick($event)" />

<p><b>フォーム入力値をイベントハンドラで操作</b></p>
<form>
  <label for="evName">名前：</label>
  <input id="txtEvName" name="txtEvName" type="text" #evName />
  <input type="button" value="ダブルクリック" (dblclick)="ondblclick(evName.value)" />
  <div>{{FormMsg}}</div>
</form>

<p><b>要素数で表示内容を変える　i18nPlural</b></p>
<div>{{ mails.length |i18nPlural: mailLabels }}</div>

<p><b>文字列の値でで表示内容を変える　i18nSelect</b></p>
<ul>
  <li *ngFor="let wr of weatherRec">
    {{wr.day}}の天気は{{wr.weather | i18nSelect :weatherJP}}です
  </li>
</ul>

<p><b>percent表示と桁数指定percent表示</b></p>
<ol>
  <li>元の値：{{percentValue}}</li>
  <li>percent（デフォルト）：{{percentValue | percent}}</li>
  <li>percent（桁数指定）：{{percentValue | percent : '3.1-2'}}</li>
</ol>

<p><b>通貨記号指定</b></p>
<ol>
  <li>元の値：{{currencyValue}}</li>
  <li>currency（デフォルト）：{{currencyValue | currency}}</li>
  <li>currency（コードのみ）：{{currencyValue | currency : 'JPY'}}</li>
  <li>currency（円）：{{currencyValue | currency : 'JPY': true}}</li>
  <li>currency（ユーロ）：{{currencyValue | currency : 'EUR': true}}</li>
  <li>currency（桁数）：{{currencyValue | currency : 'JPY': true: '3.1-3'}}</li>
</ol>

<p><b>日時</b></p>
<ol>
  <li>元の値：{{currentDate}}</li>
  <li>date（デフォルト）：{{currentDate | date}}</li>
  <li>date（medium）：{{currentDate | date: 'medium'}}</li>
  <li>date（short）：{{currentDate | date: 'short'}}</li>
  <li>date（fullDate）：{{currentDate | date: 'fullDate'}}</li>
  <li>date（longDate）：{{currentDate | date: 'longDate'}}</li>
  <li>date（mediumDate）：{{currentDate | date: 'mediumDate'}}</li>
  <li>date（shortDate）：{{currentDate | date: 'shortDate'}}</li>
  <li>date（mediumTime）：{{currentDate | date: 'mediumTime'}}</li>
  <li>date（shortTime）：{{currentDate | date: 'shortTime'}}</li>
</ol>

<p><b>チェックボックスで表示非表示を切り替える</b></p>
<form>
  <label for="show">表示／非表示</label>
  <input id="show" name="show" type="checkbox" [(ngModel)]="show"/>
  <div *ngIf="show">
    <p >チェックボックスで表示非表示を切り替わります</p>
  </div>
</form>

<p><b>チェックボックスで表示内容を切り替える</b></p>
<form>
  <label for="showContent">チェック</label>
  <input id="showContent" name="showContent" type="checkbox" [(ngModel)]="showContent"/>
  <div *ngIf="showContent; else elseContent">
    <p >選択中</p>
  </div>
  <ng-template #elseContent>
    <p >未チェック</p>
  </ng-template>
</form>

<p><b>セレクトボックスで表示内容を切り替える</b></p>
<form>
  <select name="selector" [(ngModel)]="selector">
    <option value="">未選択</option>
    <option value="content01">Content01</option>
    <option value="content02">Content02</option>
    <option value="content03">Content03</option>
  </select>
  <div [ngSwitch]="selector">
    <div *ngSwitchCase="'content01'">
      <p>Content01</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, dolores?</p>
    </div>
    <div *ngSwitchCase="'content02'">
      <p>Content02</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, dolores?</p>
    </div>
    <div *ngSwitchCase="'content03'">
      <p>Content03</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, dolores?</p>
    </div>
    <div *ngSwitchDefault>
      <p>Default Content</p>
    </div>
  </div>
</form>

<p><b>ngForで配列要素表示</b></p>
<ul>
  <li *ngFor='let b of books | slice: pgStart: pgStart+pgLen'>{{b.title}} {{b.isbn}}</li>
</ul>
<input type="button" (click)="addList()" value="追加">
<ul class="pagenation">
  <li><a href="#" (click)="pager(0)">1</a></li>
  <li><a href="#" (click)="pager(1)">2</a></li>
  <li><a href="#" (click)="pager(2)">3</a></li>
</ul>

<p><b>Componentを3秒毎に呼び出す</b></p>
<ng-container *ngComponentOutlet="addView"></ng-container>

<p><b>フォームのバリデーション</b></p>
<form #myForm="ngForm" (ngSubmit)="formValidate()" novalidate>
  <div>
    <label for="mail">メールアドレス</label>
    <input id="mail" name="mail" type="email" [(ngModel)]="user.mail" required email #mail="ngModel" />
    <span *ngIf="mail.errors?.required && mail.dirty">メールアドレスは必須です</span>
    <span *ngIf="mail.errors?.email && mail.dirty">メールアドレスを正しい書式で入力して下さい</span>
  </div>
  <div>
    <label for="passwd">パスワード</label>
    <input id="passwd" type="password" name="passwd" [(ngModel)]="user.passwd" required minlength="6" #passwd="ngModel" />
    <span *ngIf="passwd.errors?.required && passwd.dirty">パスワードは必須です</span>
    <span *ngIf="passwd.errors?.minlength && passwd.dirty">パスワードは6文字以上で入力して下さい</span>
  </div>
  <div>
    <label for="fullname">名前</label>
    <input id="fullname" type="text" name="fullname" [(ngModel)]="user.fullname" required maxlength="30" #fullname="ngModel" />
    <span *ngIf="fullname.errors?.required && fullname.dirty">名前は必須です</span>
    <span *ngIf="fullname.errors?.maxlength && fullname.dirty">名前は10文字以内で入力して下さい</span>
  </div>
  <ng-container *ngFor="let item of genderData; index as i">
    <label class="radio-item">
      <input  type="radio" name="gender"
      [(ngModel)]="genderSelected"
      [value]="item.value"
      [checked]="genderSelected == item.value" >
      {{item.label}}
    </label>
  </ng-container>
  <ng-container *ngFor="let item of drinkData; index as i">
    <label class="checkbox-item">
      <input  type="checkbox" name="drink{{i}}"
      [(ngModel)]="drinkData[i].selected"
      [value]="item.value"
      [checked]="drinkSelected == item.value"
      (chenge)="show(i)">{{item.label}}
    </label>
  </ng-container>
  <select name="sampleData" [(ngModel)]="sampleSelected">// size=""指定でリストボックスにもなる
    <option value="">選択して下さい</option>
    <option *ngFor="let item of sampleData"
      [value]="item.value"
      [disabled]="item.disabled"
      [selected]="item.value === selected">{{item.label}}
    </option>
  </select>
  <select name="groupData" [(ngModel)]="groupDataSelected">
    <option value="">選択して下さい</option>
    <optgroup *ngFor="let group of keys(groupData)"
      label= {{group}}>
      <option *ngFor="let item of groupData[group]"
        [value]="item.value"
        [disabled]="item.disabled"
        [selected]="item.value === selected">{{item.label}}
      </option>
    </optgroup>
  </select>

  <label>文字数チェック</label><br>
  <textarea rows="8" cols="80" name="comment" maxlength="100"
  [(ngModel)]="comment" (input)="commentInput()"></textarea>
  <span>残り{{commentCount}}文字入力できます</span><br>

  <label for="hasSpaceText">改行区切りでリストに変換</label><br>
  <textarea id="hasSpaceText" name="hasSpaceText" rows="8" cols="80"
  [ngModel]="spaceTxt.join('\n')"
  (ngModelChange)="spaceTxt=$event.split('\n')"></textarea>
  <div>
    <input type="submit" value="送信" [disabled]="myForm.invalid" />
    <input type="reset" value="リセット" [disabled]="!myForm.dirty" />
  </div>
</form>
<ul>
  <li *ngFor="let noSpaceTxt of spaceTxt">{{noSpaceTxt}}</li>
</ul>
<pre>{{myForm.value | json}}</pre>

<div id="printer">
  <p><b>PrinterComponent</b></p>
  <span *ngFor="let printer of printers">
    [<a href="#printer" (click)="onPrinterDetailBtnClick(printer)">{{printer.maker}}</a>]
  </span>
  <detail-printer [printerItem]="printerSelected"></detail-printer>
</div>
