body{
  width: 800px;
  margin: 0 auto;
}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
.books{
  background: #eee;
  padding: 20px;
}
.book_list{
  list-style-type: none;
}
/*sassにしたい*/
.book_list__title{
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto 5px;
}
.book_list__price{
  margin: 0;
}
.active{
  color: blue;
}
.pagenation{
  list-style-type: none;
}
.pagenation li{
  display: inline-block;
  border: 1px solid #aaa;
}
.pagenation a{
  text-decoration: none;
  padding: 3px;
  color: blue;
  transition: .2s;
}
.pagenation a:hover{
  background: #def;
}
.add{
  padding: 5px 20px;
  box-sizing: border-box;
}
.add1{
  background: #ece;
}
.add2{
  background: #eec;
}
.add3{
  background: #cee;
}
